@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  background-image: url("../app/assets/tender-woman-with-afro-hairstyle-posing-studio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    background-image: none;
  }

  #bgImg {
    background-image: url("../app/assets/portrait-beautiful-black-woman-using-white-towel-her-face.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}
